<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN PORTAL</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <%- include('./partials/adminNavbar.ejs') %>



    <form class="text-center d-flex my-form-class  flex-column" action="/admin/portal/delete-transaction/<%=transactionData._id%>" role="search" method="POST">

            <h1>DELETE TRANSACTION</h1>
         
          <div class="mt-2 mb-2">
            <label for="depositor_name">Depositor Name:</label>
            <input class="form-control me-2 " name="depositor_name" id="depositor_name" type="text"  aria-label="text" value="<%=transactionData.depositor_name%>" disabled>
          </div>
          <div class="mt-2 mb-2">
            <label for="bank">Bank:</label>
            <input class="form-control me-2 " name="bank" id="bank" type="text" aria-label="text" value="<%=transactionData.bank%>" disabled>
          </div>
          <div class="mt-2 mb-2">
            <label for="transaction_amount">Transaction Amount:</label>
            <input class="form-control me-2 " name="transaction_amount" id="transaction_amount" type="text" aria-label="text" value="<%=transactionData.transaction_amount%>" disabled>
          </div>
          <div class="mt-2 mb-2">
            <label for="transaction_date">Transaction Date:</label>
            <input class="form-control me-2 " name="transaction_date" id="transaction_date" type="text" placeholder="Enter Bank" aria-label="text" value="<%=transactionData.transaction_date%>" disabled>
          </div>
            <button class="btn my-btn-class btn-danger" type="submit">Delete Transaction</button>
           
        </form>
    
    
    
    
     <style>
        .my-form-class{
          width: 50%;
          margin: 0 auto;
          /* padding: 10px; */
        }
        .my-btn-class{
          width: 50%;
          margin: 0 auto;
        }
    
        .my-no{
          margin-right: 20px;
        }
    
    
     </style>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">ARE YOU SURE YOU WANT TO DELETE THIS TRANSACTION? </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5>Depositor Name: <strong><%=transactionData.depositor_name%></strong></h5>
        <h5>Bank: <strong><%=transactionData.bank%></strong> </h5>
        <h5>Transction Amount: <strong><%=transactionData.transaction_amount%></strong> </h5>
        <h5>Transaction Date: <strong><%=transactionData.transaction_date%></strong> </h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary my-no" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger submit-transaction my-yes">Yes</button>
      </div>
    </div>
  </div>
</div>

</div>
</div>




<script>

    const myForm  = document.querySelector('.my-form-class')
    const deleteTransaction = document.querySelector('.btn-danger')
    const submitTransaction = document.querySelector('.submit-transaction')
    


    const preSubmitActivity = (e) => {
    

    
    e.preventDefault()

    
    deleteTransaction.setAttribute('data-bs-toggle', 'modal')
    deleteTransaction.setAttribute('data-bs-target', '#exampleModal')
    
    deleteTransaction.click()
      
      submitTransaction.addEventListener('click', () => {
          myForm.submit()
      })
    
    }
        
    myForm.addEventListener('submit', preSubmitActivity)
    </script>

</body>

</html>